.example-image {
    width: 18rem;
    height: 16rem;
}
/* 
body {
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 53%, rgba(61, 59, 59, 1) 100%);
    font-family: "Libertinus Mono", monospace;
    font-weight: 400;
    font-style: normal;
} */

